################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/obj
/src/appsettings.Development.json
/src/Api.csproj.user
/src/Properties
/obj
/appsettings.Development.json
/Properties
/Api.csproj.user
