################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/obj
/src/appsettings.Development.json
/obj
/bin
/appsettings.Development.json
/Properties
*.csproj.user
